.review-content{
  border: 2px solid black;
  border-radius: 10px;
}

.review-content-month {
    gap: 10px;
}

.review-content {
    margin: 10px 0 5px 0;
    padding: 0 10px;
  
}

.review-button-update {
      border-radius: 10px;
      margin: 5px;
  }
  
  .post-your-review-button {
    border-radius: 10px;
    margin-bottom: 20px;
    width: auto;
  }

  .post-your-review-button-disabled{
    border-radius: 10px;
    margin-bottom: 20px;
    width: auto;
  }

 