.review-content-month {
    gap: 10px;
}

.review-content {
    margin-bottom: 50px;
}

.review-button-update {
      border-radius: 10px;
      margin: 5px;
  }
  
  .review-button-update:hover{
    box-shadow: 6px 6px 6px navy;
  }

  .post-your-review-button {
    border-radius: 10px;
    margin-bottom: 20px;
    width: auto;
  }

  .post-your-review-button:hover{
    box-shadow: 6px 6px 6px navy;
  }

  .post-your-review-button-disabled{
    border-radius: 10px;
    margin-bottom: 20px;
    width: auto;
  }

 