
.spot-page{
    margin: 5px 90px;
    background-color: var(--lightGrey);
    padding: 10px 10px;
}

.spot-title-section{
    text-align: center;
}

.spot-page-title{
    text-decoration: underline;
}

.reviews-text-layout {
    display: inline-flex;
    margin: 10px;
    gap: 10px;
}

.reviews-under-description {
    font-size: large;
}
