.new-spot-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 90px;
    background-color: var(--lightGrey);
}

h2, h3, h1{
    text-align: left;
}

.new-spot-section {
    padding-bottom: 10px;
    width: 50%;
}

.new-spot-form-header{
    text-align: left;
}
.new-spot-form {
    width: 50%;
}

.spot-form-error {
    padding-left: 10px;
    color: red;
    font-style: italic;
}

.double-input-field {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    align-content: space-evenly;
    grid-auto-flow: column;
    width: 100%;
}

.row-header {
    display: flex;
}

.large-input-field {
    width: 100%;
    height: 200px;
    resize: none;
}

.single-input-field {
    width: 100%;    
}

.spot-page-button {
    width: 200px;
    height: 50px;
    font-size: large;
      border-radius: 10px;
      margin: 20px;
  }

.new-spot-section {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--darkBlue);
    width: 50%;
}

.price-input-wrapper {
    display: flex;
    align-items: center;
}

.price-input-wrapper span {
    margin-right: 5px; 
}
