
.spot-tile {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.spot-tile-image {
    width: auto;
    height: 280px;
    overflow: hidden;
    order: -1;
}


.spot-tile-name {
    font-size: large;
    font-weight: bold;
    color: blue;
    border: 2px black;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    border: 2px solid;
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}


.spot-tile-stars {
    display: inline-flex;
    align-items: center;
    justify-items: end;

}

.spot-tile-price {

}

.spot-show-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: stretch;
    height: fit-content;
    gap: 5px;
    grid-template-areas:
        "big-pic big-pic small-pic-1 small-pic-2"
        "big-pic big-pic small-pic-3 small-pic-4"
    ;
    margin-bottom: 20px;
}

.spot-show-image {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
}

.spot-show-image-0 {
    grid-area: big-pic;
    border: none;
    float: none;
    object-fit: fill;
}

.spot-show-image-1 {
    grid-area: small-pic-1;
    border: none;
    float: none;
    object-fit: contain;
}

.spot-show-image-2 {
    grid-area: small-pic-2;
    border: none;
    float: none;
    object-fit: contain;
}

.spot-show-image-3 {
    grid-area: small-pic-3;
    border: none;
    float: none;
    object-fit: contain;
}

.spot-show-image-4 {
    grid-area: small-pic-4;
    border: none;
    float: none;
    object-fit: contain;
}

.spot-show-info {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--darkBlue);
}

.spot-show-description {
    margin: 20px;
}

.spot-show-reserve-grouping {
    border-radius: 30px;
    list-style-type: none;
    align-items: center;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .2fr 1fr;
    gap: 0px 0px;
    padding: 10px;
    grid-template-areas:
        "price reviews reviews"
        ". . ."
        "reserve reserve reserve";
}

.review-card {
    grid-area: reviews;
    display: flex;
    flex: content;
    flex-wrap: wrap;
    justify-content: right;
}

.review-card-price {
    grid-area: price;
    justify-items: center;
    align-items: center;
    
}

.spot-show-reserve-button {
    background-color: var(--lightBlue);
    color: lightgrey;
    border-radius: 10px;
    grid-area: reserve;
    margin-bottom: 20px;
    height: 70%;
    font-size: large;
    font-weight: bold;
}

.spot-show-reserve-button:hover {
  
}

.spot-tile-info-first-line {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    color: var(--darkBlue)
}
