body {
    font-family: 'Roboto', sans-serif;
  }
  
  .spot-tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .listing-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .tile-container {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .tile-image {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .listing-info {
    padding: 20px;
  }
  
  .location-details h4 {
    margin: 0 0 5px;
    font-size: 16px;
    color: #333;
  }
  
  .rating i {
    margin-right: 5px;
    font-size: small;
  }
  
  .tile-link {
    text-decoration: none;
  }
  
  .location-container {
    display: flex;
    flex-direction: column;
  }
  
  /* @media screen and (max-width: 1200px) {
    .tile-container {
      width: calc(33.33% - 20px);
    }
  } */
  
  /* @media screen and (max-width: 900px) {
    .tile-container {
      width: calc(50% - 20px);
    }
  } */
  
  /* @media screen and (max-width: 600px) {
    .tile-container {
      width: 100%;
    }
  } */
