.log-in-modal {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    padding: 0 10px;
    text-align: center;
}

.log-in-modal-inputs {
    width: 100%;
    border-radius: 5px;
}

.log-in-modal-button-disabled {
    width: 50%;
    background-color: lightgray;
    color: darkgray;
    border-radius: 5px;
    grid-area: reserve;
    margin: 5px 0px;
}


.log-in-modal-button {
    cursor: pointer;
    width: 80%;
    border-radius: 5px;
    grid-area: reserve;
    margin: 5px 0px;
}

.log-in-modal-error {
    color: red;
    font-style: italic;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 200px;
}
